
<ion-content>
  <ion-list lines="full" class="ion-no-margin">
    <ion-list-header lines="full">
      <ion-label style="font-size: 22px;font-weight: bold;color: #FF0042;">Desactivar Alarma</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label position="stacked" style="font-size: 22px;">Ingrese su contraseña</ion-label>
      <ion-input type="password" placeholder="Ingrese contraseña" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-button expand="full" color="danger" style="height: 80px;font-size: 28px;" (click)="onVerificarPassword()">Desactivar</ion-button>
  </ion-list>
</ion-content> 