<ion-header >
  <ion-toolbar color="light" (click)="onLogout()">      
    <div class="header-cerrar-sesion"> 

      <div style="text-align: end;">
        <ion-icon name="arrow-back-circle-outline" style="padding-top: 2px;font-size: 36px;margin-left: 5px;"></ion-icon>
      </div>
      <div style="text-align: start;padding-top: 3px;color:black">
        Cerrar Sesión 
      </div>

    </div>     
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- <div class="head">
    <div class="TextAlarma"  [ngStyle]="{'background-color': colorBoton ? '#7be495' : '#FF0042'}">
      ALARMA
    </div>
  </div>
   -->

  <div align="center" style="margin-top: 10%;" >

    <button (click)="estadoBoton()">
      <span class="button_top"                         
            (change)="colorBoton = !colorBoton"
            [ngStyle]="{'background-color': colorBoton ? '#FF0042' : '#7be495'}"
            >
        <ion-icon name="power-outline" style="font-size: 340px;margin-top: 120px;margin-bottom: 120px;"></ion-icon>
      </span>
    </button>
  </div>
 

  <!-- <div class="footer">
    <div class="TextAlarma"  [ngStyle]="{'background-color': colorBoton ? '#7be495' : '#FF0042'}">
      ALARMA
    </div>
  </div> -->
  <div *ngIf="!load" class="spinner"></div>
</ion-content>
