#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
  --ion-background-color: transparent;
  width: 100%;
  overflow: hidden;
}



.ion-text-center{
  font-size: 16px;
}

.botones_sesion_registrar{
  position: fixed;
  width: 100%;
  bottom: 0%;
}




.green {
  background-color: red;
}

.red {
  background-color: green;
}


div{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
  letter-spacing: 3px;
}

.spinner{
  position: absolute;
  top: 40%;
  left: 34%;
  transform: translate(-50%,-50%);
  z-index: 41;
  border: 4px solid rgba(0, 0, 0, .1);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border-bottom-color: #FF0042;
  border-top-color: #FF0042;
  border-left-color: black;
  border-right-color: black;
  animation: spin 1s linear infinite;

}

@keyframes spin{
  0%{
      transform: rotate(0deg);
  }
  100%{
      transform: rotate(360deg);
  }
}

.head{
  height: 10%;
  text-align: center;
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-top: 10%;
}

.TextAlarma{
  border: 4px solid black;
}

.body{
  height: 80%;
}

.footer{
  height: 10%;
  text-align: center;
  font-size: 36px;
  color: black;
  font-weight: bold;
  margin-top: 10%;
}

.header-cerrar-sesion{
  background-color: #FF0042	;
  padding: 2px 2px 2px 2px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.header-cerrar-sesion > div{
  width: auto;
}

/* From uiverse.io by @Voxybuns */
button {
  /* Variables */
 --button_radius: 0.75em;
 --button_color: #e8e8e8;
 --button_outline_color: #000000;
 font-size: 17px;
 font-weight: bold;
 border: none;
 border-radius: var(--button_radius);
 background: var(--button_outline_color);
}

.button_top {
 display: block;
 box-sizing: border-box;
 border: 2px solid var(--button_outline_color);
 border-radius: var(--button_radius);
 padding: 0.75em 1.5em;
 background: var(--button_color);
 color: var(--button_outline_color);
 transform: translateY(-0.2em);
 transition: transform 0.1s ease;
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
 transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
 transform: translateY(0);
}